* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-list {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  background-color: var(--black-color);
  color: var(--white-color);
  margin: auto;
  gap: 80px;
}

#hero {
  background-image: url(../images/фон\ главного\ баннера4\ 1.png);
  width: 100%;
  height: 750px;
}

.hero-title {
  color: var(--white-color);
  font-size: 48px;
  margin-top: 155px;
  margin-left: 256px;
}

.btn-call {
  background-color: var(--black-color);
  color: var(--white-color);
}

.btn-div {
  border: 4px solid red;
  padding: 12px;
}

.catalog {
  font-size: 14px;
  color: var(--white-color);
  margin-left: 256px;
  margin-top: 70px;
  padding: 18px;
  height: 40px;
  width: 200px;
  border: 4px solid red;
  align-items: center;
  display: flex;
}

.block {
  background-color: var(--black-color);
  width: 100%;
  height: 272px;
  margin-top: 170px;
  display: flex;
  justify-content: center;
  gap: 150px;
}

.block p {
  color: var(--white-color);
  text-align: center;
}

.block img {
  height: 120px;
  margin-top: 50px;
}

.ico {
  z-index: 2;
  background-color: red;
  clip-path: polygon(
    32% 0,
    100% 0,
    100% 35%,
    100% 73%,
    83% 86%,
    65% 100%,
    0 100%,
    0% 70%,
    0 22%,
    16% 11%
  );
  width: 300px;
  text-align: center;
}

.info {
  background-image: url(../images/фон.png);
  width: 100%;
  height: 1244px;
  margin-top: 225px;
}

.shop-acses {
  margin-left: 600px;
  padding-top: 88px;
  font-size: 36px;
}

.info hr {
  width: 790px;
  margin-left: 440px;
  margin-top: 20px;
  height: 4px;
  background-color: red;
}

.PROAuto {
  text-align: center;
  padding-top: 25px;
  font-size: 24px;
}

.card {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: auto;
  align-items: center;
  padding-top: 36px;
  justify-content: center;
}

.card_first {
  background: url("../images/akkum.png") center/cover no-repeat;
  width: 360px;
  height: 400px;
  color: white;
  font-size: 18px;
  text-align: center;
  padding-top: 186px;
  position: relative;
}

.card_first::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.card_first:hover::before {
  opacity: 1;
  visibility: visible;
}

.card_first h2 {
  position: relative;
  display: none;
}

.card_first:hover h2 {
  z-index: 11;
  display: block;
}
.card_first h3 {
  display: flex;
  margin: 86px;
  font-size: 15px;
  position: relative;
  display: none;
}

.card_first:hover h3 {
  z-index: 11;
  display: block;
  padding-top: 13px;
}

.bord {
  border: 4px solid red;
  width: 216px;
  height: 52px;
  align-items: center;
  justify-content: center;
}
.service {
  background-image: url(../images/topoboi.png);
  background-color: rgba(0, 0, 0, 0.8); /* Чёрный цвет с 50% прозрачности */
  background-blend-mode: darken; /* Затемнение */
  width: 100%;
  height: 1000px;
  color: var(--white-color);
}
.uslugi {
  text-align: center;
  padding-top: 88px;
}

.help {
  text-align: center;
  font-size: 24px;
  padding-top: 32px;
}

.service hr {
  width: 170px;
  margin-left: 677px;
  margin-top: 8px;
  height: 4px;
  background-color: red;
}

.service-uslugi {
  margin-top: 74px;
  margin-left: 256px;
  height: 200px;
  display: flex;
  position: relative;
  background-image: url(../images/Rectangle6.svg);
  background-repeat: no-repeat;
}

.rectangl {
  width: 78.5px;
  height: 92px;
  margin-left: 20px;
  margin-top: 13px;
}

.service-uslugi h2 {
  padding-left: 50px;
  font-size: 16px;
}

.service-uslugi p {
  font-size: 16px;
  position: absolute;
  left: 150px;
  padding-top: 16px;
}

.info-maslo {
  top: 34px;
}

.info-akkum {
  height: 200px;
  margin-left: 256px;
  display: flex;
  position: relative;
  background-image: url(../images/Rectangle6.svg);
  background-repeat: no-repeat;
}

.tex-podderzh {
  width: 78.5px;
  height: 92px;
  left: 25px;
  top: 13px;
  position: absolute;
}

.info-akkum h2 {
  padding-left: 150px;
  font-size: 16px;
}

.info-akkum p {
  font-size: 16px;
  position: absolute;
  left: 150px;
  padding-top: 16px;
}

.akkum img {
  width: 78.5px;
  height: 92px;
  left: 25px;
  top: 13px;
  position: absolute;
}

.akkum > h2 {
  padding-left: 150px;
}

.frame {
  padding-left: 270px;
  height: 580px;
}

.button {
  margin-left: 702px;
  margin-top: 46px;
  border: 4px solid red;
  width: 236px;
  height: 56px;
  text-align: center;
  padding-top: 15px;
}

.union {
  width: 40px;
  height: 20px;
  position: absolute;
  left: 40px;
  top: 5px;
}

.unions {
  width: 40px;
  height: 20px;
  position: absolute;
  left: 40px;
  top: 90px;
}

.service-uslugi {
  position: relative;
  transition: 0.3s ease-in-out;
}

.service-uslugi::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 150px;
  background: linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.5),
    rgba(139, 63, 63, 0.8)
  );
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.service-uslugi:hover::before {
  opacity: 1;
}

.info-akkum {
  position: relative;
  transition: 0.3s ease-in-out;
}

.info-akkum::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 150px;
  background: linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.5),
    rgba(139, 63, 63, 0.8)
  );
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.info-akkum:hover::before {
  opacity: 1;
}

#company {
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 667px;
  z-index: 1;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
}

.photo {
  width: 300px;
  height: 288px;
  position: absolute;
  z-index: 1;
  top: 222px;
  left: 256px;
  clip-path: polygon(
    32% 0,
    100% 0,
    100% 35%,
    100% 73%,
    83% 86%,
    65% 100%,
    0 100%,
    0% 70%,
    0 22%,
    16% 11%
  );
  border: 4px solid #c53720;
}

.company-text {
  color: var(--white-color);
  font-size: 36px;
  position: absolute;
  top: 88px;
  left: 615px;
}

.text {
  background-color: #c53720;
  width: 280px;
  height: 4px;
  top: 150px;
}

.btn-uznat {
  position: absolute;
  color: var(--white-color);
  margin-top: 46px;
  border: 4px solid red;
  width: 236px;
  height: 56px;
  text-align: center;
  padding-top: 15px;
}

.info-uznat {
  color: var(--white-color);
  width: 680px;
  height: 255px;
  font-size: 16px;
  position: absolute;
  top: 222px;
  left: 580px;
  border: 4px solid red;
  padding: 32px;
}

#novosti {
  width: 100%;
  height: 750px;
}

#novosti h2 {
  font-size: 36px;
  margin-top: 88px;
  margin-left: 650px;
}

#novosti hr {
  height: 4px;
  width: 216px;
  background-color: #c53720;
  margin-left: 637px;
}

.rectangle img {
  width: 360px;
  height: 284px;
}

.rectangle {
  background-color: #1d1d1d;
  width: 360px;
  height: 400px;
  margin-top: 74px;
  margin-left: 200px;
  gap: 24px;
}

.rectangle p {
  padding-top: 12px;
  color: #c53720;
  margin-left: 20px;
}

.rectangle h3 {
  color: var(--white-color);
  font-size: 16px;
  padding: 15px;
}

.card-rectangle-two {
  margin-left: 400px;
  margin-top: -385px;
}

.card-rectangle-three {
  margin-left: 800px;
  margin-top: -401px;
}

.btn-novosti {
  margin-top: 72px;
  border: 4px solid red;
  width: 236px;
  height: 56px;
  text-align: center;
  position: absolute;
  left: 640px;
}

#info__uslugi {
  height: 200px;
}

.info_uslugi {
  display: flex;
  justify-content: center;
  gap: 44px;
}

.footer-top {
  background-image: url(../images/bg-footer.png);
  width: 100%;
  height: 342px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}

.footer-top__column h3 {
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer-top__column img {
  padding-bottom: 80px;
}

.one {
  padding-bottom: 70px;
}

.two {
  padding-bottom: 105px;
}

.three {
  padding-bottom: 65px;
}

.footer-top__column p {
  padding-top: 16px;
}

.footer-top__column h5 {
  color: var(--white-color);
  font-size: 16px;
  padding-top: 12px;
}

.footer-top__column button {
  margin-bottom: 160px;
  margin-top: 20px;
  text-align: center;
  width: 176px;
  height: 40px;
  border: 4px solid #c53720;
}

.btn__zakaz {
  font-size: 13px;
}
